.collapsible {
    width: 100%;
    background-color: #c4c4c4;
    color: #4d4d4d;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.9rem;
  }

  .active, .collapsible:hover {
    background-color: #777;
  }
  
  .collapsible:after {
    content: '\002B';
    color: #4d4d4d;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #c4c4c4;
  }
  .gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    /* justify-content: center;
    align-items: center; */
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #c4c4c4;
  }