/*!**********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/App.css ***!
  \**********************************************************************/
div {
    padding: 10px;
}
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/Header.css ***!
  \*************************************************************************/
header {
    color: white;
    background: black;
    font-size: 3rem;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/Main.css ***!
  \***********************************************************************/
h1 {
    text-align: center;
    color: #55a90b;
}
