.surname {
    color: #000000;
    font-size: 10vw;
}
    .position {
    font-size: 4vw;
    position: relative; 
    top: -0.6em;
}

.foto {
    flex-grow: 1;
    min-width: 300px;
    padding: 5px;
}

.myself {
    padding: 20px 15px;
    flex-grow: 1;
    min-width: 300px;
}